.App {
  background-color: rgb(34, 124, 7);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-message {
  background-color: rgb(148, 144, 140);
  min-height: 40px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: rgb(17, 16, 16);
  margin: 5px;
}
.App-form {
  background-color: rgb(188, 192, 188);
  min-height: 800px;
  padding-top: 20px;
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(17, 16, 16);
}
.App-list {
  background-color: rgb(235, 226, 226);
  min-height: 650px;
  width: 30%;
}
.App-field {
  min-height: 700px;
  width: 60%;
  margin-bottom: 10px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Form-field {
  background-color: rgb(235, 226, 226);
  min-height: 700px;
  margin-bottom: 15px;
  width: 100%;
}
.MuiTextField-root {
  background-color: white;
  margin-right: 20px;
}
